@use './helpers' as *;

.list-enter-active {
  transition: all var(--transition-duration-big) ease;
}
.list-enter-from {
  opacity: 0;
  transform: translateX(-100px);
}
.list-enter-to {
  opacity: 1;
  transform: translateX(0);
}
.list-leave-active {
  transition: all var(--transition-duration-big) ease;
}
.list-leave-from {
  opacity: 1;
  transform: translateY(0);
}
.list-leave-to {
  opacity: 0;
  transform: translateY(-50px);
}
.list-move {
  transition: transform var(--transition-duration-big) ease;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity var(--transition-duration-big) ease !important;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

.fade-small-enter-active, .fade-small-leave-active {
  transition: opacity var(--transition-duration) ease !important;
}
.fade-small-enter-from, .fade-small-leave-to {
  opacity: 0;
}

.aside-enter-active, .aside-leave-active {
  transition: transform var(--transition-duration) ease !important;
}
.aside-enter-from, .aside-leave-to {
  transform: translateX(-100%);
}

.scale-enter-active, .scale-leave-active {
  transition: transform var(--transition-duration) ease !important;
}
.scale-enter-from, .scale-leave-to {
  transform: scale(0);
}