@use '../helpers' as *;

.aside {

  &__open {
    @include square(40);

    color: var(--color-light);
    top: rem(30);
    left: rem(30);
  }

  &__background {
    inset: 0;
    backdrop-filter: brightness(0.2) blur(5px);
    background: rgba(0,0,0,.6);
  }

  &__content {
    top: 0;
    left: 0;
    height: 100vh;
    background: var(--color-dark-alt);
    padding: rem(30);
  }

  &__list {
    gap: rem(30);
  }

  &__btn {
    @include square(40);
  }

  &__avatar {
    @include square(50);

    border-radius: 50%;

    &.is-active {

      .img-container {
        transform: translate(rem(470), rem(185)) scale(4);
      }
    }

    & div {
      @include square(50);
      inset: 0;
    }

    .border {
      border-radius: 50%;
      border: 1px dashed var(--color-light);
    }

    .img-container {
      transition: transform var(--transition-duration-big) ease;
      transform: translate(0, 0) scale(1);
      transform-origin: center center;
      will-change: transform;
    }
  }

  &__block {
    background: var(--color-dark-15);
    left: rem(410);
    top: rem(200);
    border-radius: var(--radius-big);
  }
}