@use '../helpers' as *;

.controllers {

  &__timeline-wrapper {

    @include hover {
      .controllers__timeline-info {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &__timeline-info {
    @include abs-x;

    bottom: 95%;
    background: var(--color-dark-15);
    border-radius: var(--radius-regular);
    padding: rem(10);
    transition: opacity var(--transition-duration), transform var(--transition-duration);
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
  }

  &__btn-bar {
    gap: rem(20);
  }
  &__btn {
    @include flex-center();

    background: transparent;
    border-radius: 50%;
    color: var(--color-light);
    border: 2px solid currentColor;

    &:not(:disabled) {

      @include hover() {
        color: var(--color-accent);
      }
    }

    &:disabled {
      cursor: default !important;
      opacity: .6;
    }

    &.play-pause, &.prev, &.next {
      padding: rem(5);
    }

    &.play-pause {
      width: rem(80);
      height: rem(80);
    }

    &.prev, &.next {
      @include square(55);

      svg {
        width: 100%;
        height: auto;
      }
    }

    &.prev {
      rotate: 180deg;

      svg {
        margin-right: rem(-5);
      }
    }

    &.next {

      svg {
        margin-right: rem(-5);
      }
    }
  }

  &__time {
    margin-bottom: rem(15);
  }

  &__small-btn {
    @include square(50);

    padding: rem(10);
    color: var(--color-light);
    border-radius: var(--radius-regular);

    &.is-active {
      background-color: var(--color-dark-15);
    }

    svg {
      height: 100%;
      width: auto;
    }
  }

  &__modes, &__settings {
    position: absolute;
    gap: rem(10);
  }

  &__modes {
    right: rem(130);
    width: 20%;
  }

  &__mode-btn {

    &.is-active {
      pointer-events: none;
    }
  }

  &__settings {
    left: rem(25);
  }

  &__sound {
    margin-right: rem(110);

    @include hover {
      .controllers__sound-number, .controllers__sound-range {
        opacity: 1;
      }
      .controllers__sound-range {
        display: block !important;
        opacity: 1;
        pointer-events: auto;
      }
    }

    &-range, &-number {
      opacity: 0;
      transition: opacity var(--transition-duration);
    }

    &-range {
      --range-wigth: #{rem(100)};

      @include abs-y;

      width: var(--range-wigth);
      left: calc(100% - #{rem(5)});
    }
  }
}