@use '../helpers' as *;

.like {
  transition:
          stroke var(--transition-duration),
          fill var(--transition-duration),
          transform var(--transition-duration);

  &.is-active {
    color: var(--color-accent);
    fill: var(--color-accent);
    animation: likeAnimation var(--transition-duration-big) cubic-bezier(0.68, -0.55, 0.27, 1.55);

    @keyframes likeAnimation {
      0% {
        transform: scale(1);
      }
      25% {
        transform: scale(1.1) rotate(-5deg);
      }
      50% {
        transform: scale(0.9);
      }
      70% {
        transform: scale(1.05);
      }
      100% {
        transform: scale(1) rotate(0);
      }
    }
  }
}