@use '../helpers' as *;

.list {
  top: rem(100);
  left: rem(400);
  display: grid;
  grid-auto-rows: rem(130);
  overflow-y: auto;
  max-height: 80vh;
  padding-right: rem(10);

  &__item {
    gap: rem(15);
    padding-inline: rem(25);
    border-radius: rem(12);
    transition: background-color var(--transition-duration);
    width: rem(400);
    height: rem(130);

    @include hover() {
      background: var(--color-dark-15);

      img {
        transform: scale(1.1);
      }
    }

    img {
      transition: transform var(--transition-duration-big);
      will-change: transform;
    }

    &.is-active {
      cursor: default !important;
      pointer-events: none;
    }
  }

  &__left {
    flex: 0 0 rem(100);
    height: rem(100);
    border-radius: rem(12);
  }

  &__name, &__artist {
    text-overflow: ellipsis
  }

  &__artist, &__duration {
    opacity: .5;
    font-size: .9em;
  }

  &__active {
    height: rem(130);
    max-width: rem(400);
  }
}