@use '../helpers' as *;

.list {
  display: grid;
  grid-auto-rows: fluid(130, 80);
  overflow-y: auto;
  max-height: 80vh;
  padding-right: rem(10);
  overflow-x: hidden;
  transition: max-height var(--transition-duration-big);
  width: rem(420);

  &-wrapper {
    width: rem(420);
    top: rem(60);
    left: fluid(400, 100);
    transition: transform var(--transition-duration-big);
    height: 80vh;

    &.is-active {
      transform: translateY(#{rem(80)});

      .list {
        max-height: 70vh;
      }
    }
  }

  &-tabs {
    gap: rem(20);
    margin-bottom: rem(15);
    overflow: hidden;
    max-height: rem(200);
    transition: max-height var(--transition-duration-big), opacity var(--transition-duration-big);

    &.is-hidden {
      max-height: 0;
      opacity: 0;
    }
  }

  &-number {
    display: block;
    margin-bottom: rem(10);
  }

  &__item {
    gap: rem(15);
    padding: fluid(25, 0);
    border-radius: rem(12);
    transition: background-color var(--transition-duration);
    width: rem(400);
    box-shadow: inset 0 0 rem(3) rem(1) var(--color-dark);

    @include hover() {
      background: color-mix(in srgb, var(--color-dark-15), transparent 50%);

      img {
        transform: scale(1.1);
      }
    }

    img {
      transition: transform var(--transition-duration-big);
      will-change: transform;
    }

    &.is-active {
      cursor: default !important;
      pointer-events: none;
      background: color-mix(in srgb, var(--color-dark-15), transparent 25%);
    }

    &-record {
      top: 50%;
      color: var(--color-accent);
      background: color-mix(in srgb, var(--color-dark-15), transparent 25%);
      animation: rotate 10s infinite linear;
      left: 0;
      margin-left: rem(50);
      border-radius: 50%;
      translate: 0 -50%;

      &.paused {
        animation-play-state: paused;
      }

      @keyframes rotate {
        from {
          rotate: 0deg;
        }
        to {
          rotate: 360deg;
        }
      }
    }
  }

  &__left {
    @include square(100);

    flex-shrink: 0;
    border-radius: rem(12);

    @include laptop {
      @include square(80);
    }
  }

  &__right {
    transition: padding var(--transition-duration);

    &.is-active {
      padding-left: rem(25);
    }
  }

  &__artist, &__duration {
    opacity: .5;
    font-size: .9em;
  }

  &__active {
    height: rem(130);
    max-width: rem(400);
  }

  &__artist {

    &-img-container {
      @include square(110);

      border-radius: 50%;
      background: var(--color-dark-15);

      @include laptop {
        @include square(80);
      }
    }
  }
}