@use '../helpers' as *;

.music {
  z-index: 1000000;
  inset: 0;

  &__img-container {
    right: 0;
    width: 70vw;
    min-height: 100vh;
    max-height: 100vh;
    aspect-ratio: 1;
    transition: transform var(--transition-duration-big);
    will-change: transform;

    &.is-active {
      transform: scale(1.05);
    }

    img, video {
      transition: opacity var(--transition-duration-big);
      opacity: 0;

      &:not(.is-active) {
        @include visually-hidden;
      }

      &.is-active {
        opacity: 1;
      }
    }
  }

  &__card {
    right: rem(80);
    bottom: rem(60);
    backdrop-filter: blur(2px);
    border-radius: rem(32);
    padding: rem(25);
    width: 50vw;
  }
}