@use '../helpers' as *;

.top-message {
  @include abs-x;

  top: rem(20);
  padding: rem(10) rem(20);
  border-radius: var(--radius-medium);

  &.light {
    background: var(--color-light);
    color: var(--color-dark);
  }
  &.dark {
    background: var(--color-dark-15);
    color: var(--color-light);
  }
}